.mainArea {
    background-color: #1B1A1B;
    position: relative; 
    width: 100vw;
    min-height: 100vh;
  
  }

.transactionHistory thead th {
   
    border-right:2px solid grey;
    
}

.transactionHistory tbody td {
    
    border-right: 2px solid grey;
    
} 

#check:checked {
    accent-color: transparent;
}

 .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 37px;
    width: 37px;
} 

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    
    /* background-color: rgba(0, 0, 0, 0.50); */
    border-radius: 4px;
    border: 2px solid grey;

}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    border: 3px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 17px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

