.hover_effect_container .default_image {
    /* styles for the default image */
    position: relative;
}

/* Styles for both images */
.hover_effect_container .default_image,
.hover_effect_container .hover_image {
    position: absolute;
    top: 120; /* Aligns the image to the top of the container */
    left: 10; /* Aligns the image to the left of the container */
    /* Ensure both images have the same width and height if necessary */
}

.hover_effect_container .hover_image {
    display: none;
    position: absolute;
    /* additional styles */
}

.hover_effect_container:hover .hover_image {
    display: block;
}

.hover_effect_container:hover .default_image {
    display: none;
}
