styles.css
.table-container {
  position: relative;
  
}

.red-grid-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #1B1A1B;
  color: white;
  height: 100%;
  width: 100%;

}

.red-grid-table th
{
  
  border: 1px solid #B5B5B5;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  transition: border-color 0.3s;
  width: 1000px;

 
}
.red-grid-table tr {
  border-bottom: none; /* Remove horizontal dividing lines between rows */
  
}

.red-grid-table td {
  
  border: 1px solid #B5B5B5;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  transition: border-color 0.3s;
  width: 1000px;
  border: none;
  border-right: 1px solid #B5B5B5;
  

 }


.red-grid-table thead tr:first-child th {
  border-top: none;
 
}





.red-grid-table tbody td:first-child,
.red-grid-table thead tr th:first-child {
  border-left: none;
  
}
.greyArrow {
  color: grey;
  font-size: 2rem;
  float: right;
  
}
.smallerColumn {
  width: 150px; 
}

