
.MainArea {
  position: absolute;
  width: 1584px;
  height: 997px;
  left: 337px;
  top: 83px;
  background: #f4f4f4;
  border-radius: 0px 20px 20px 0px;
}

.MainAreaCreateProposalButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 36px;
  gap: 13px;
  position: absolute;
  width: 188px;
  height: 48px;
  left: 1275px;
  top: 188px;
  background: #ffe34e;
  /* Primary GBCS Black */

  border: 2px solid #2f2f2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.MainAreaTitle {
  position: absolute;
  width: 1372px;
  height: 52px;
  left: 96px;
  top: 45px;
}

.MainAreaResponse {
  position: absolute;
  width: 327.32px;
  height: 50px;
  left: 96px;
  top: 0px;
  /* font-family: "SF Pro Display"; */
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 0.001em;
  color: #2f2f2f;
}

.MainAreaResponseSearch {
  position: absolute;
  display: inline;
  box-sizing: border-box;
  position: absolute;
  width: 387.39px;
  height: 41px;
  left: 945px;
  top: 0px;
  border: 2px solid #2f2f2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #ffffff;
}

.MainAreaResponseSearchIcon {
  position: absolute;
  width: 16px;
  height: 18px;
  left: 16px;
  top: 11px;
  /* font-family: "Font Awesome 5 Free"; */
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #2f2f2f;
}

.MainAreaText {
  float: left;
  position: absolute;
  width: 854px;
  height: 25px;
  left: 95px;
  top: 124px;
  color: #555555;
  /* font-family: "SF Pro Display"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  /* or 106% */
  letter-spacing: 0.1px;
}

.MainAreaResponseDeleteIcon {
  right: 20.39px;
  top: 7px;
  position: absolute;
  /* font-family: "Font Awesome 5 Free"; */
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  align-items: center;
  color: #2f2f2f;
  background: transparent;
  border: none;
}

.MainAreaResponseFilter {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 1362px;
  top: 0px;
  border: 2px solid #2f2f2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #ffffff;
}

.MainAreaResponseSearchInput {
  position: absolute;
  height: 34px;
  left: 46px;
  top: 3.3px;
  /* font-family: "SF Pro Display"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #2f2f2f;
}

.MainAreaResponseSearchInputText {
  background: transparent;
  border: none;
}

.MainAreaResponseFilterIcon {
  position: absolute;
  left: 5px;
  top: 7px;
  display: inline-block;
  align-items: center;
  color: #2f2f2f;
  background: transparent;
  border: none;
}

.MainAreaResponseFilterText {
  position: absolute;
  width: 41px;
  height: 16px;
  left: 38px;
  top: 2px;

  border-radius: 0px 20px 20px 0px;
}

.MainAreaCreateProposalIcon {
  position: absolute;
  left: 15px;
  top: 9.5px;
  align-items: center;
}

.MainAreaCreateProposalButtonText {
  width: 123px;
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  left: 50px;
  top: 12.5px;
  position: absolute;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.1px;
}
