
.inputOverflow {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.noCalendarIcon::-webkit-calendar-picker-indicator {
    display: none;
}


.custom-checkbox {
    height: 19px;
    width: 19px;
    border: 2px solid #1e1e1e;
    border-radius: 3px;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}

.custom-checkbox.checked {
    background-color: #ffc107;
    border-color: #ffc107;
}

.label-container {
    position: relative;
    display: flex;
    align-items: center;
}
