.transactionHistory thead th {

    border-right:2px solid grey;
}

.transactionHistory tbody td {

    border-right: 2px solid grey;
}

.tableDiv {
    scrollbar-color: grey transparent; /* For Firefox */
}

/* Scrollbar */
.tableDiv::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.tableDiv::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.tableDiv::-webkit-scrollbar-thumb {
    background-color: grey; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid transparent; /* Space around the thumb */
}

.tableDiv::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey; /* Hover color of the scrollbar thumb */
}

#check:checked {
    accent-color: transparent;
}

.container {
    position: relative;
}

.container input {
    opacity: 0;
    cursor: pointer;
    height: 37px;
    width: 37px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 37px;
    width: 37px;
    background-color: rgba(48, 45, 45, 0.5);
    border: 2px solid #dbd0d0;
    border-radius: 4px;
}


/* Highlight checkbox border on hover */
.container:hover .checkmark {
    border-color: #fff; /* Change the border color to white on hover */
}

/* Highlight edit button border on hover */
.editbtn:hover {
    border-color: #fff; /* Change the border color to white on hover */
}


.savebtn:active {
    filter: invert(66%) sepia(79%) saturate(475%) hue-rotate(8deg) brightness(100%) contrast(90%); /* #DEBF1A */

}

.savebtn:active, .editbtn:active {
    filter: invert(66%) sepia(79%) saturate(475%) hue-rotate(8deg) brightness(100%) contrast(90%); /* #DEBF1A */
}

.editbtn:hover, .savebtn:hover {
    filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(92deg) brightness(113%) contrast(100%);
}


/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    border: 2px solid #DEBF1A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 12px;
    top: 3px;
    width: 10px;
    height: 23px;
    border: solid #DEBF1A;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}