/*Previewing Response css*/

/*The background*/
.mainArea {
  background-color: #1B1A1B;
  position: relative; 
  width: 100vw;
  min-height: 100vh;

}

.previewTitle{
color: var(--White, #FFF);
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 136px;
}


.backToTopButton {
  /* width: 255px;
  height: 78px;
  flex-shrink: 0; */
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:2px solid #DEBF1A;
  /* border-radius: 9999px; */

  /* padding-left: 19px;
  margin-left:1620px;
  margin-bottom: 59px;
  margin-right:64px ; */
  }
  
  .backToTopButtonText{
    /* display: flex;
    width: 216.563px;
    height: 39.164px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; */

    /* text-align: center; */
    font-family: Poppins;
    /* font-size: 30px; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* line-height: normal; */

    background: var(--GBCS-Gold-Gradient, linear-gradient(149deg, #DEBF1A 7.29%, #F2E28A 42.76%, #CDB016 67.39%, #EDDA75 94.05%));
    background-clip: text;
    -webkit-background-clip: text;
  }

/*text container*/
.questions,
.categories,
.answer{
border-radius: 20px;
border: 3px solid var(--Grey-Accent, #555);
box-shadow: 0px 0px 25px 0px rgba(47, 47, 47, 0.10);

padding-top: 44px;
padding-left: 54px;
margin-left: 425px;
margin-right: 64px;
}

.questions{
  width: 1431px;
  height: 264px;
  flex-shrink: 0;
  margin-top: 81px; 
  margin-bottom: 42px;
  padding-bottom:76px;
}
.categories{
  width: 1431px;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 42px;
  padding-bottom:66px;
}
.answer{
width: 1431px;
height: auto;
flex-shrink: 0;
margin-bottom: 52px;
padding-bottom:39px;
}


/*Define the Typography*/
.textTitle,
.textBox1,
.textBox2{
  color: #FFF;
  /* Regular/Title1 */
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 121.429% */
  letter-spacing: 0.364px;
}

/*textboxt style*/
.textBox1,
.textBox2{
  padding: 15px 25px;
  border-radius: 10px;
  border: 0;
  border-bottom: 3px solid #DEBF1A;
  background: linear-gradient(0deg, #2F2F2F, #2F2F2F),
    linear-gradient(149.27deg, #DEBF1A 7.29%, #F2E28A 42.76%, #CDB016 67.39%, #EDDA75 94.05%);
  gap: 10px;
  align-items: center;
}

/*Questions + Categories (except software)*/
.textBox1 {
  display: flex;
  width: 1074px;
  flex-shrink: 0;
}

/*Categoreis - Software*/
.textBox2 {
  display: flex;
  width: 559px;
  height: 63.85px;
  flex-shrink: 0;
}

/*Answer*/
.textBox3 {
  display: flex;
width: 1271px;
height: auto;
padding: 15px 25px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
border-bottom: 3px solid #DEBF1A;
background: #2F2F2F;
margin-right: 106px; 
}
.pAnswer{
flex: 1 0 0;
align-self: stretch;
color: var(--White, #FFF);
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 171.429% */
letter-spacing: 0.1px;
}

/* view.module.css ends */


