@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.text_font {
  font-family: 'Poppins', sans-serif;
}

.second_font {
  font-family: 'Inter';
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.container input:checked+.checkmark {
  border: 1px solid white;
}

/* Check (✓)*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked+.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Button effect */
.button_hover_effect {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.button_hover_effect:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

/* Animation */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade_in_left {
  animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade_in_right {
  animation: fadeInRight 1s ease-out forwards;
}