@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.text_font {
    font-family: 'Poppins', sans-serif;

}

.second_font {
    font-family: 'Inter';

}

.globals {
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    position: relative;


    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: -33px;
    height: 23px;
    width: 23px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    border: 3px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    top: -2px;
    left: -4;


}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 