.element {
	position: absolute;
	border: 1px solid #000;
	padding: 8px;
	cursor: pointer;
}

.selected {
	border-color: red;
}

.text svg {
   width: 35px;
   height: 35px;
}

.text span img {
  width: 35px;
  height: 35px;
}

.text > div:hover {
 background-color: #7d7d7d;
 cursor: pointer;
}

.custom-dropdown {
  position: relative;
  width: 200px; /* Adjust width as needed */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

/* Show the dropdown when the parent is hovered or focused */
.custom-dropdown:hover .dropdown,
.custom-dropdown:focus-within .dropdown {
  display: block;
}
